*{
    font-family: 'VT323', monospace;
    box-sizing: border-box;
}

.card {
    max-width: 500px;
    width: 100%;
    margin: 0; /* remova o margin: 0 auto pois o flex já centraliza */
    border-radius: 20px;
    /* adicione sombra se desejar */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card {
    max-width: 500px;
    width: 100%;
    margin: 0; /* remova o margin: 0 auto pois o flex já centraliza */
    border-radius: 20px;
    /* adicione sombra se desejar */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.back {
    border: none;
    font-weight: bold;
    font-size: 20px;
    background-color: #fff4;
    background-image: url('../images/back.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 15px;
}

.back:hover {
    background-color: #fff;
    cursor: pointer;
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px 0 20px;
}

.card-header h2 {
    font-size: 46px;
}

.card-details {
    margin: 0 auto;
}

.card-body {
    background: url('../images/background.png') no-repeat;
    background-size: contain;
    background-size: 250px;
    background-position: 50% 15%;
}

.card-img {
    max-width: 250px;
    height: 250px;
}

.card-types {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 10px auto 0 auto;
}

.card-info {
    background-color: #2c3e50;
    border-radius: 10px;
    padding: 20px 0;
    margin: 0 auto;
}

.stats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 20px;
    gap: 10px;
}

.stat {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px;
    border-radius: 10px;
    background-color: #2ECC71;
    font-weight: bold;
    border: 1px solid #000000;
}

.stat p {
    font-size: 22px;
    margin-right: 10px;
}

.hp {
    color: #000;
}

.attack {
    color: #000;
}

.defense {
    color: #000;
}

.special-attack {
    color: #000;
}

.special-defense {
    color: #000;
}

.speed {
    color: #000;
}

@media screen and (max-width: 475px) {
    .card-header {
        flex-direction: column;
    }

    .stats {
        display: block;
    }

    .stat {
        margin: 2px 0;
    }

    .card {
        width: 280px;
    }
}